html, body {
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0;
  background: url(../img/b.png) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}


.header{
  padding-top: 10%;
}

.navigation a, a:visited, a:hover, a:active{
  text-decoration: none;
  font-weight: 700;
  color: #fff;
}

.navigation{
  text-align: center;
  padding-top: 10%;
  margin: 0 60px 0 0;
}

.navigation li{
  display: inline-block;
  list-style: none;
  padding: 30px 0;
  margin: 0 -2px;
}

.navigation a{
  border: solid #fff 2px;
  padding: 15px 70px;
  text-decoration: none;
  text-align: center;
}



.navigation a:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  color: #99D3DF;
  text-decoration: none;
  background-color: #fff;
}


.header{
  clear: both;
}

.header h1{
  font: 400 70px/1.3 'Oleo Script', Helvetica, sans-serif;
  text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
  text-align: center;
  color: #fff;
}

.header p{
  font: 400 26px/1.3 'Oleo Script', Helvetica, sans-serif;
  text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
  text-align: center;
  color: #fff;
  padding-top: 2%;
}


.footer p{
  color: #fff;
  padding-top: 36%;
}
span{
  color: #99D3DF;
}

.gallery{
  display: none;
}

.gallery h2{
  font: 400 40px/1.3 'Oleo Script', Helvetica, sans-serif;
  text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
  text-align: center;
  color: #fff;
  padding: 10px 0;
  border-bottom: solid #fff 2px;
}

.gallery h2:hover, a:hover{
  color: #99D3DF;
  text-decoration: none !important;
}

.top-buffer{
  margin-top: 2%;
}

.gallery img{
  width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.gallery img:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.modal-content {
  background: url(../img/b.png) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.modal{
  color: #fff;
}

.modal h4{
  font: 400 40px/1.3 'Oleo Script', Helvetica, sans-serif;
  text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
  text-align: center;
  color: #fff;
}

#cb ,#cb1 {
  font-weight: 700;
  border: solid #fff 2px;
  padding: 10px 40px;
  text-decoration: none;
  text-align: center;
  background-color: transparent;
}

#cb:hover, #cb1:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  color: #99D3DF;
  text-decoration: none;
  background-color: #fff;
}

.imgup{
  font-weight: 700;
  border: solid #fff 2px;
  padding: 5px 20px;
  text-decoration: none;
  text-align: center;
  background-color: transparent;
}

.imgup:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  color: #99D3DF;
  text-decoration: none;
  background-color: #fff;
}

/*Styles that jack has added*/
.text-fields{
  background: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 1px solid rgba(255,255,255,0.5) !important;
}

.text-fields:focus{
  border-bottom: 1px solid rgba(255,255,255,0.9) !important;
}

.modal-header{
  border-bottom: none !important;
}

.modal-footer{
  border-top:none !important;
}

.gallery-about{
  display: none;
}

.gallery-about h2{
  font: 400 40px/1.3 'Oleo Script', Helvetica, sans-serif;
  text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
  text-align: center;
  color: #fff;
  padding: 10px 0;
  border-bottom: solid #fff 2px;
}

.gallery-about h2:hover, a:hover{
  color: #99D3DF;
  text-decoration: none !important;
}

.top-buffer{
  margin-top: 2%;
}

.gallery-about img{
  width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.gallery-about img:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
