html, body {
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0;
  color: #fff;
  background: url(../img/b.png) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}


.header{
  padding-top: 10%;
}

.navigation a, .navigation a:visited, .navigation a:active, .navigation a:focus{
  text-decoration: none !important;
  outline: 0 !important;
  font-weight: 700;
  color: #fff !important;
}

.navigation{
  text-align: center;
  padding-top: 10%;
  margin: 0 60px 0 0;
}

.navigation li{
  display: inline-block;
  list-style: none;
  padding: 30px 0;
  margin: 0 -2px;
}

.navigation a{
  border: solid #fff 2px;
  padding: 15px 70px;
  text-decoration: none;
  text-align: center;
}



.navigation a:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  color: #99D3DF !important;
  text-decoration: none;
  background-color: #fff;
}


.header{
  clear: both;
}

.header h1{
  font: 400 70px/1.3 'Oleo Script', Helvetica, sans-serif;
  text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
  text-align: center;
  color: #fff;
}

.header p{
  font: 400 26px/1.3 'Oleo Script', Helvetica, sans-serif;
  text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
  text-align: center;
  color: #fff;
  padding-top: 2%;
}

.footer p{
  color: #fff;
  padding-top: 36%;
}
span{
  color: #99D3DF;
}

.gallery{
  display: none;
}

.gallery h2{
  font: 400 40px/1.3 'Oleo Script', Helvetica, sans-serif;
  text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
  text-align: center;
  color: #fff;
  padding: 10px 0;
  border-bottom: solid #fff 2px;
}

.gallery h2:hover, a:hover{
  color: #99D3DF;
  text-decoration: none !important;
}

.top-buffer{
  margin-top: 2%;
}

.gallery img{
  width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.gallery img:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.modal-content {
  background: url(../img/b.png) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.modal{
  color: #fff;
}

.modal h4{
  font: 400 40px/1.3 'Oleo Script', Helvetica, sans-serif;
  text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
  text-align: center;
  color: #fff;
}

#cb ,#cb1, #cb2 {
  font-weight: 700;
  border: solid #fff 2px;
  padding: 10px 40px;
  text-decoration: none;
  text-align: center;
  background-color: transparent;
}

#cb:hover, #cb1:hover, #cb2:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  color: #99D3DF;
  text-decoration: none;
  background-color: #fff;
}

.imgup{
  font-weight: 700;
  border: solid #fff 2px;
  padding: 5px 20px;
  text-decoration: none;
  text-align: center;
  background-color: transparent;
}

.imgup:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  color: #99D3DF;
  text-decoration: none;
  background-color: #fff;
}

/*Styles that jack has added*/
.text-fields{
  background: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 1px solid rgba(255,255,255,0.5) !important;
}

.text-fields:focus{
  border-bottom: 1px solid rgba(255,255,255,0.9) !important;
}

.modal-header{
  border-bottom: none !important;
}

.modal-footer{
  border-top:none !important;
}

input[type=text], input[type=email]{
  color: #fff;
  text-align: center;
  font-size: 16px;
}

input[type=text]:focus, input[type=email]:focus{
  border: 3px solid #555;
}

.about, .gallery{
  display: none;
}

.about h2, .gallery h2{
  font: 400 40px/1.3 'Oleo Script', Helvetica, sans-serif;
  text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
  text-align: center;
  color: #fff;
  padding: 10px 0;
  border-bottom: solid #fff 2px;
}

.about h2:hover, .about a:hover, .galley h2:hover, .gallery a:hover{
  color: #99D3DF;
  text-decoration: none !important;
}

.about p{
  color: #fff;
  font-weight: 600;
}

.whatis{
  font: 400 38px/1.3 'Oleo Script', Helvetica, sans-serif;
  text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
  text-align: center;
  color: #fff;
  padding-top: 1em;
}

.about ul li{
    color: #fff;
}

.cloudimage{
  display: none;
}

.cloudimage img{
  width: 50px;
  height:50px;
  right: 50px;
  bottom:50px;
  position: fixed;
  z-index: 5;
  background-color: #99D3DF;
  padding: 1% 1%;
  border-radius: 10%;
  transition: padding .5s, border-radius .5s, width .5s, right .5s;
  -webkit-animation-direction: alternate; /* Safari 4.0 - 8.0 */
    animation-direction: alternate;
}

.cloudimage img:hover{
  width:200px;
  right:25px;
  border-radius: 3%;
}

.top-buffer{
  margin-top: 2%;
}

.gallery .ithing{
  width:20%;
  padding:0 2.5%;
  display: inline-block;
  margin-top: 2%;
}

.gallery img{
  width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.gallery img:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.progressBar{
  height:10px;
  padding:0;
  margin:0;
  background: #70909f;
  width:0;
  border: 1px solid white;
}

.alert{
  position:fixed;
  width:70%;
  text-align:center;
  top:50px;
  left:15%;
  display:none;
  z-index: 2000;
}
